{% macro textRequired(display_name, field_name) -%}
    <div class="formbuilder-text form-group field-{{field_name}}">
        <label for="{{field_name}}" class="formbuilder-text-label">{{display_name}}<span class="formbuilder-required"></span></label>
        <input type="text" class="form-control" name="{{field_name}}" access="false" id="{{field_name}}" required="required" aria-required="true">
    </div>
{%- endmacro %}

{% macro textHidden(field_name,field_value) -%}
    <div class="formbuilder-text form-group field-{{field_name}}">
        <input type="text" class="form-control" name="{{field_name}}" access="false" id="{{field_name}}" required="required" aria-required="true" style='display:none' value="{{field_value}}">
    </div>
{%- endmacro %}

{% macro textOptional(display_name, field_name) -%}
    <div class="formbuilder-text form-group field-{{field_name}}">
        <label for="{{field_name}}" class="formbuilder-text-label">{{display_name}}</label>
        <input type="text" class="form-control" name="{{field_name}}" access="false" id="{{field_name}}">
    </div>
{%- endmacro %}

{% macro date(display_name, field_name) -%}
<div class="formbuilder-text form-group field-{{field_name}}">
    <label for="{{field_name}}" class="formbuilder-text-label">{{display_name}}<span class="formbuilder-required"></span></label>
    <input type="date" lang="en-US" class="form-control" name="{{field_name}}" access="false" id="{{field_name}}" required="required" aria-required="true">
</div>

{%- endmacro %}
{% macro datetime(display_name, field_name) -%}
<div class="formbuilder-text form-group field-{{field_name}}">
    <label for="{{field_name}}" class="formbuilder-text-label">{{display_name}}<span class="formbuilder-required"></span></label>
    <input type="datetime-local" lang="en-US" class="form-control" name="{{field_name}}" access="false" id="{{field_name}}" required="required" aria-required="true">
</div>



{%- endmacro %}
{% macro radio(display_name, field_name ,display_value_dict) -%}
    <div class="formbuilder-radio-group form-group field-{{field_name}}">
        <label for="{{field_name}}" class="formbuilder-radio-group-label">{{display_name}}<span class="formbuilder-required"></span></label>
        <div class="radio-group">
        {% for item in display_value_dict %}
        <div class="formbuilder-radio">
            <input name="{{field_name}}" access="false" id="{{field_name}}-{{loop.index}}" required="required" aria-required="true" value="{{item[0]}}" type="radio">
            <label for="{{field_name}}-{{loop.index}}">{{item[1]}}</label>
        </div>
        {% endfor %}
        </div>        
    <div class="formbuilder-date form-group field-{{field_name}}">
</div>
{%- endmacro %}
{% macro num(display_name, field_name) -%}

<div class="formbuilder-number form-group field-{{field_name}}">
    <label for="{{field_name}}" class="formbuilder-number-label">{{display_name}}</label>
    <input type="number" name="{{field_name}}" access="false" value="72" min="1" id="{{field_name}}" title="The maximum of hours your test will be before your flight." required="required" aria-required="true">
</div>

{%- endmacro %}

